@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inner-row {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.login-plateform-image img {
    height: 100vh;
    width: 100%;
}

.login-plateform-form {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.plateform-logo-image img {
    width: 270px;
    height: 140px;
}

.plateform-logo-image {
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.btn-mode {
    border: 2px solid #8bcfe1;
    color: #01bce9;
    padding: 8px;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.btn-mode svg {
    width: 22px;
    height: 22px;
    font-weight: 600;
}

#plateform-light {
    display: none;
}

.dark-mode-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.dark-mode-btn>.btn:hover {
    color: #01bce9;
    background-color: #f5fdff;
    border-color: #01bce9;
}

.plateform-login-form h3 {
    font-size: 2.5rem;
    padding: 2rem 1rem;
}

.plateform-login-form .btn {
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem 0.75rem;
    background-color: #01bce9;
    border: 2px solid #01bce9;
}

.plateform-login-form .btn:hover {
    background-color: #04a2ca;
}

.plateform-login-form .form-floating .form-control:focus {
    border: 1px solid #01bce9;
    box-shadow: none;
}

.plateform-login-form .form-floating .form-control {
    background: transparent;
}

.plateform-login-form .form-floating>label {
    transition: opacity .1s ease-in-out, transform .3s ease-in-out;
}


.plateform-login-form .form-floating .form-control:focus~.plateform-login-form .form-floating>label,
.plateform-login-form .form-floating .form-control:not(:placeholder-shown)~.plateform-login-form .form-floating>label {
    background: transparent;
}

.plateform-input-margin {
    margin-bottom: 1.5rem;
}

.plateform-input-margin input {
    padding-right: 3.2rem;
}

.plateform-input {
    position: relative;
}

.input-icon svg {
    width: 22px;
    height: 22px;
}

.input-icon {
    position: absolute;
    padding: 0px;
    top: 10px;
    font-weight: 700;
    right: 15px;
    cursor: pointer;
}

.plateform-input-form {
    padding: 0.10rem .75em;
    line-height: 1.25;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    border-radius: 5px;
    border: 1px solid #666666;
    background: transparent;
    transition: 0.1s ease;
    z-index: 11;
    height: 52px;
}

.plateform-lable-form {
    position: absolute;
    padding: 0.10rem .75em;
    color: #666666;
    background-color: transparent;
    transition: 0.2s ease;
    top: 10px;
}

.plateform-login-form .plateform-input input:focus {
    border: 2px solid #01bce9 !important;
    outline: none;
}

/* .plateform-input-form:not(:placeholder-shown).plateform-input-form:not(:focus)~.plateform-input-form {
    border: 2px solid #01bce9 !important;
    outline: none;
} */

.plateform-input-form:focus~.plateform-lable-form,
.plateform-input-form:not(:placeholder-shown)~.input-labelform {
    color: #01bce9;
    height: 30px;
    line-height: 30px;
    padding: 0px 8px;
    transform: translate(-3px, -15px) scale(0.77);
    z-index: 111;
}


.plateform-input-form:not(:placeholder-shown).plateform-input-form:not(:focus)~.plateform-lable-form {
    color: #666666;
    height: 30px;
    line-height: 30px;
    padding: 0px 8px;
    transform: translate(-3px, -15px) scale(0.77);
    z-index: 111;
}

.margin-bottom-login {
    margin-bottom: 2rem;
}

.plateform-forget-link a {
    color: #01bce9;
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
}

.plateform-policy-link {
    position: absolute;
    bottom: 3rem;

}

.plateform-policy-link a {
    color: #7f817e;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;

}

/* media query for first page */

@media screen and (max-width:991px) {
    .mobile-view-plateform {
        position: absolute;
    }

    .login-plateform-form {
        background: #f9f9f9;
        opacity: 0.80;
    }

    .plateform-login-form {
        opacity: 1;
    }

    .plateform-logo-image img {
        opacity: 1;
    }

    .mobile-padding {
        padding: 0px;
    }

    .login-plateform-image img {
        height: 100vh;
        width: 100%;
        filter: blur(3px);
    }

    .login-plateform-form {
        height: 100vh;
        width: 100%;
        padding: 1rem;
    }

    .plateform-logo-image {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .plateform-login-form h3 {
        font-size: 1.7rem;
        padding: 1rem 1rem;
    }

    .plateform-policy-link {
        bottom: 1rem;
    }

    .margin-bottom-login {
        margin-bottom: 1rem;
    }
}

@media (max-height:730px) {
    .mobile-padding {
        padding: 0px;
    }

    .login-plateform-image img {
        height: 140vh;
        width: 100%;
    }

    .login-plateform-form {
        height: 140vh;
        width: 100%;
        padding: 1rem;
    }
}

/* plateform reset page */

.plateform-reset-link a {
    color: #01bce9;
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.plateform-reset-link a svg {
    vertical-align: unset;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


/* Admin-dashboard page */

.dashboard-nav-1 {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

hr {
    margin: 0;
}

.dashboard-content {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.dashboard-logo img {
    height: 68px;
    width: 110px;
    margin-left: 1rem;
}

.dashboard-logo button {
    display: none;
}

.dashboard-profile-content {
    font-size: 1.1rem;
}

.dashboard-profile-content-major {
    font-weight: 700;
}

.dashboard-profile-content-nav-2 {
    display: none;
}

.dashboard-logout-icon {
    display: none;
}

.dark-mode-btn-dashboard {
    position: relative;
}

.dark-mode-btn-dashboard>.btn:hover {
    color: #01bce9;
    background-color: #f5fdff;
    border-color: #01bce9;
}

.dashboard-nav-2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0rem 1.3rem;
}

.dashboard-nav-2 .nav-link {
    padding: 8px 7px;
    font-size: 1rem;
    font-weight: 600;
    color: #8a8a8a;
}

/* .dashboard-nav-2 .dashboard-dropdown-button button{
    padding: 8px 16px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8a8a8a;
} */

.dashboard-nav-2 .dropdown-toggle::after {
    content: none;
}

.dashboard-nav-2 .nav-underline .nav-link.active,
.dashboard-nav-2 .nav-underline .show>.nav-link {
    font-weight: 600;
    color: #01bce9;
    border-bottom-color: #01bce9;
}

.dashboard-nav-2 .nav-underline .nav-link:focus,
.dashboard-nav-2 .nav-underline .nav-link:hover {
    font-weight: 600;
    color: #01bce9;
    border-bottom-color: #01bce9;
}

.start-card {
    position: relative;
    margin-bottom: 1rem;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
    background-color: red;
    border-radius: 1rem;
}

.dashboard-image-state {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.dashboard-card .dashboard-image-state span {
    font-size: 1.07rem;
    font-weight: 500;
}

.dashboard-card span {
    font-size: 1.5rem;
    font-weight: 700;
}

.dashboard-card svg {
    width: 19px;
    height: 19px;
}




.dashboard-card-1 {
    background-color: #e9eaef;
    color: #2f3f7a;
    border: 1px solid #2f3f7a;
    border-radius: 7px;
}

.dashboard-card-2 {
    background-color: #e5f2f8;
    color: #1ba3cd;
    border: 1px solid #1ba3cd;
    border-radius: 7px;
}

.dashboard-card-3 {
    background-color: #e9f0e8;
    color: #317f45;
    border: 1px solid #317f45;
    border-radius: 7px;
}

.dashboard-card-4 {
    background-color: #f7e6ee;
    color: #ac2571;
    border: 1px solid #ac2571;
    border-radius: 7px;
}

.dashboard-card-5 {
    background-color: #e5eef5;
    color: #916fbb;
    border: 1px solid #916fbb;
    border-radius: 7px;
}

.dashboard-card-6 {
    background-color: #e5eef4;
    color: #916fbb;
    border: 1px solid #916fbb;
    border-radius: 7px;
}


.active-state-base .active-state {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: blue;
    transform: rotate(45deg);
    top: 5.1rem;
    left: 7rem;
    z-index: -1;
}

.active-state-base .dashboard-card-1 {
    background-color: #203f9a;
    border: 1px solid #203f9a;
}

.active-state-base .active-state-1 {
    background-color: #203f9a;
    border: 1px solid #203f9a;
}

.active-state-base .dashboard-card-2 {
    background-color: #00adef;
    border: 1px solid #00adef;
}

.active-state-base .active-state-2 {
    background-color: #00adef;
    border: 1px solid #00adef;
}

.active-state-base .dashboard-card-3 {
    background-color: #228c20;
    border: 1px solid #228c20;
}

.active-state-base .active-state-3 {
    background-color: #228c20;
    border: 1px solid #228c20;
}

.active-state-base .dashboard-card-4 {
    background-color: #da0f82;
    border: 1px solid #da0f82;
}

.active-state-base .active-state-4 {
    background-color: #da0f82;
    border: 1px solid #da0f82;
}

.active-state-base .dashboard-card-5 {
    background-color: #0370d7;
    border: 1px solid #0370d7;
}

.active-state-base .active-state-5 {
    background-color: #0370d7;
    border: 1px solid #0370d7;
}

.active-state-base .dashboard-card-6 {
    background-color: #9966cd;
    border: 1px solid #9966cd;
}

.active-state-base .active-state-6 {
    background-color: #9966cd;
    border: 1px solid #9966cd;
}

.active-state-base .dashboard-card {
    color: white;
}

.active-state-base .dashboard-image-state {
    color: white;
}

.patient-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.patients-heading {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.patients-heading h3 {
    font-weight: 600;
}

.patients-heading div {
    font-weight: 600;
    color: #203f9a;
}

.patient-dashboard-button {
    display: flex;
    gap: 0.5rem;
    color: #ffffff;
}

.patient-dashboard-button button {
    color: #ffffff;
}

.patient-dashboard-button .btn-info {
    background-color: #00bcee;
}

/* new state table */
.admin-table-search {
    position: relative;
}

.admin-table-search input {
    padding: 0.5rem 2.2rem;
    border: 2px solid #ababab;
    outline: none;
    background: transparent;
    border-radius: 0.4rem;
}

.admin-table-search button {
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 0.5rem 0.8rem;
    outline: none;
    color: #424242;
    background: transparent;
    border: none;
}

.admin-table-search input::placeholder {
    color: #424242;
    opacity: 1;
    /* Firefox */
}

.admin-table-search input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #424242;
}

.admin-table-search input:hover {
    border: 2px solid #01bce9;
}

.admin-table-search input:focus {
    border: 2px solid #01bce9;
}

.admin-table-filter {
    position: relative;
}

.admin-table-filter .dropdown-toggle {
    padding: 0.5rem 2.2rem;
    border: 2px solid #ababab;
    outline: none;
    background: transparent;
    border-radius: 0.4rem;
    color: #424242;
}

.admin-table-filter .dropdown-button-search {
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 0.5rem 0.8rem;
    outline: none;
    color: #424242;
    background: transparent;
    border: none;
}

.admin-table-filter .dropdown-toggle:hover {
    border: 2px solid #01bce9;
    background: transparent;
    color: #424242;
}

.admin-table-search input:focus {
    border: 2px solid #01bce9;
    background: transparent;
    color: #424242;
}

.admin-table-filter .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    right: 10px;
    font-size: 1rem;
    content: url("/images/down-arrow-dropdown.svg");
    border: none;
}

.admin-table-all-button button {
    border: 2px solid #f1f1f1;
    padding: 0.2rem 0.7rem;
    color: #7b7f82;
    background: transparent;
    border-radius: 7px;
}

.admin-patients-info {
    gap: 1rem;
}

.request-info-icon {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.request-info-icon-patient {
    background-color: #60be5e;
}

.request-info-icon-family {
    background-color: #d69b4b;
}

.request-info-icon-business {
    background-color: #e0657a;
}

.request-info-icon-concierge {
    background-color: #097dba;
}

.request-info-icon-vip {
    background-color: #7a468e;
}

.admin-table-request-info span {
    color: #424242;
}

.row-dashboard-table {
    border-radius: 1rem;
}

.row-dashboard-actual-table thead tr th {
    background-color: #f0f0f0;
    vertical-align: middle;
}

.admin-patient-field td {
    background-color: #5fbc61;
    color: #ffffff;
    vertical-align: middle;
}

.dashboard-table-button {
    border: 2px solid #ffffff;
    padding: 0.2rem 0.4rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    background: transparent;
}

.dashboard-table-button span {
    color: #ffffff;
}

.admin-table-action-button .dropdown-toggle::after {
    content: none;
}

.admin-table-action-button .dropdown-toggle {
    color: #ffffff;
    padding: 0.2rem 0.4rem;
}

.admin-table-action-button .dropdown-toggle:hover,
.admin-table-action-button .dropdown-toggle:focus {
    color: #ffffff;
    padding: 0.2rem 0.4rem;
    border: 2px solid #ffffff;
}


.table tr th:nth-child(1) {
    width: 10%;
}

.table tr th:nth-child(3) {
    width: 8%;
}

.table tr th:nth-child(4) {
    width: 8%;
}

.table tr th:nth-child(5) {
    width: 10%;
}

.table tr th:nth-child(6) {
    width: 12%;
}

.table tr th:nth-child(9) {
    width: 12%;
}

.table tr th:nth-child(10) {
    width: 6%;
}


.row-dashboard-mobile-main {
    display: none;
}

.admin-new-state-patient-detail-padding {
    padding: 1rem 1rem;
}

.admin-new-state-detail-patient-mobile-padding {
    padding: 1rem 1rem;
    background-color: #EBFAFD;
    padding-bottom: 0rem;
    display: none;
}

.admin-new-state-detail {
    position: relative;
    background-color: #EBFAFD;
}

.admin-new-state-patient-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-new-state-button button {
    width: 9rem;
    padding: 0.2rem 0.3rem;
    border-radius: 1.1rem;
    border: 2px solid #00bcee;
    color: #00bcee;
    background: transparent;
}

.admin-new-state-patient-detail-waiting img {
    width: 12px;
    height: 12px;
}

.admin-new-state-patient-detail-waiting span {
    font-size: 0.9rem;
}

.admin-new-state-patient-detail-waiting-bold {
    font-weight: 700;
}

.admin-new-state-icon {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.admin-new-state-view-close-button {
    display: none;
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    width: 6rem;
    padding: 0.2rem 0.3rem;
    border-radius: 1.1rem;
    border: 2px solid #7b7f82;
    color: #7b7f82;
    background-color: white;
    font-size: 0.8rem;
}

.admin-new-state-patient-detail-mobile-view-component {
    font-size: 1.1rem;
}

.admin-new-state-patient-detail-mobile-view-img {
    border: 2px solid #777777;
    padding: 0rem 0.3rem;
    padding-bottom: 0.2rem;
    border-radius: 50%;
}

.admin-new-state-patient-detail-mobile-view-img img {
    width: 12px;
    height: 12px;
}

.admin-new-state-patient-detail-mobile-view-component {
    margin-bottom: 1.2rem;
}

.admin-new-state-patient-detail-mobile-view-component span {
    color: grey;
}

.admin-new-state-patient-detail-mobile-view-bold {
    font-weight: 600;
    color: black;
}

.admin-new-state-patient-detail-mobile-view-button {
    padding: 0.5rem 1rem;
}

.admin-new-state-patient-detail-mobile-view-button button {
    padding: 0.3rem 0.3rem;
    border-radius: 1.1rem;
    color: #ffffff;
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
}

.admin-new-state-patient-detail-mobile-view-button-assign {
    background-color: #943DB8;
}

.admin-new-state-patient-detail-mobile-view-button-cancel-block {
    background-color: #E42929;
}

.admin-new-state-patient-detail-mobile-view-button-view-email {
    background-color: #228B22;
}

@media (max-width:1100px) {
    .admin-dashboard-table-content {
        flex-direction: column;
        width: 100%;
        gap: 0.7rem;
    }

    .admin-patients-info {
        justify-content: flex-start;
        width: 100%;
    }

    .admin-search-fillter {
        width: 100%;
    }

    .admin-table-search {
        width: 50%;
    }

    .admin-table-search input {
        width: 100%;
    }

    .admin-table-filter {
        width: 50%;
    }

    .admin-table-filter .dropdown-toggle {
        width: 100%;
    }

    .admin-patients-info {
        width: 100%;
    }
}

@media screen and (max-width:950px) {
    .patient-dashboard-button span {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    .active-state-base .active-state {
        left: 5rem;
    }
}

@media screen and (max-width:1050px) {
    .active-state-base .active-state {
        left: 4rem;
    }
}

@media screen and (max-width:1050px) {
    .active-state-base .active-state {
        display: none;
    }
}


@media screen and (max-width:783px) {
    .nav-underline {
        gap: 0.4rem;
    }
}

@media screen and (max-width:783px) {

    /* mobile view navbar */
    .dashboard-logo .btn:hover {
        color: #01bce9;
        background-color: #f5fdff;
        border-color: #01bce9;
    }
    .nav-underline {
        gap: 0.4rem;
    }

    .dashboard-header {
        position: relative;
    }

    .dashboard-nav-2 {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        height: 100vh;
        position: absolute;
        left: 0;
        background-color: white;
        width: 35%;
        z-index: 22;
        margin: 0px;

    }

    .dashboard-nav-2 .nav-underline {
        flex-direction: column;
        width: 100%;
    }

    .dashboard-nav-2 .nav-underline .nav-link {
        padding-left: 1.3rem;
    }

    .dashboard-nav-2 .nav-underline .nav-link.active {
        color: #5f5f5f;
        background-color: #e5f8fd;
        border-bottom: none;
    }

    .dashboard-nav-2 .nav-underline .nav-link:focus,
    .dashboard-nav-2 .nav-underline .nav-link:hover {
        color: #5f5f5f;
        background-color: #e5f8fd;
        border: none;
    }

    .dashboard-nav-2 .nav-underline li a {
        padding-left: 0px;
    }

    .dashboard-nav-1 {
        margin: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .dashboard-profile-content {
        display: none;
    }

    .dashboard-logo button {
        display: inline-block;
    }


    .btn-mode {
        padding: 5px;
        border-radius: 8px;
        font-size: 0.8rem;
    }

    .btn-mode svg {
        width: 16px;
        height: 16px;
        font-weight: 600;
    }

    .dashboard-logo img {
        height: 48px;
        width: 80px;
        margin-left: 0.5rem;
    }

    .dashboard-profile-content-nav-2 {
        display: block;
        font-size: 1.1rem;
    }

    .dashboard-profile-content-nav-2-major {
        font-weight: 700;
    }
}

@media screen and (max-width:767px) {
    .dashboard-card {
        align-items: center;
        justify-content: left;
    }
}

@media screen and (max-width:426px) {
    .after-search-filter {
        padding: 0rem 1rem;
    }

    .container-fluid {
        --bs-gutter-x: 0rem;
    }

    .admin-table-all-button {
        display: none;
    }

    .admin-table-search {
        width: 100%;
        margin: 0px !important;
    }

    .admin-search-fillter {
        flex-direction: column;
        gap: 1rem;
    }

    .admin-table-filter {
        width: 100%;
    }

    .dashboard-image-state {
        gap: 0.2rem;
    }

    .dashboard-card svg {
        width: 12px;
        height: 12px;
    }

    .dashboard-card .dashboard-image-state span {
        font-size: .8rem;
    }

    .dashboard-card span {
        font-size: 1rem;
    }

    .patients-heading {
        gap: 0.2rem;
    }

    .patients-heading h4 {
        font-size: 1.1rem;
        margin: 0px;
    }

    .patients-heading div {
        font-size: 0.7rem;
    }

    .patient-dashboard-button {
        gap: 0.3rem;
    }

    .patient-dashboard-button button svg {
        width: 15px;
        height: 15px;

    }

    .patient-dashboard-button button {
        padding: 7px 12px;
    }

    .admin-patients-info {
        gap: 0.5rem;
    }

    .row-dashboard-actual-table {
        display: none;
    }

    .row-dashboard-mobile-main {
        display: block;
    }
}

@media screen and (max-width:600px) {
    .admin-table-all-button {
        display: none;
    }

    .admin-table-request-info {
        flex-direction: column;
    }

}